<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-open="editClfc.sidenavOpen">
  <md-toolbar>
    <h1 class="md-toolbar-tools">Edit Classified</h1>
  </md-toolbar>
  <md-content layout-padding>
    <form>
      <md-input-container>
        <label for="title">Title</label>
        <input type="text" id="title" ng-model="editClfc.classified.title" md-autofocus>
      </md-input-container>
      <md-input-container>
        <label for="price">Price</label>
        <input type="text" id="price" ng-model="editClfc.classified.price">
      </md-input-container>
      <md-input-container>
        <label for="description">Description</label>
        <input type="text" id="description" ng-model="editClfc.classified.description">
      </md-input-container>
      <md-input-container>
        <label for="image">Image Link</label>
        <input type="text" id="image" ng-model="editClfc.classified.image">
      </md-input-container>
      <md-button class="md-primary" ng-click="editClfc.saveEdit()">Save Edit</md-button>
      <md-button class="md-warn" ng-click="editClfc.closeSidebar()">Cancel</md-button>

      <pre>{{editClfc.classified | json}}</pre>
    </form>
  </md-content>
</md-sidenav>