<md-toolbar>
    <div class="md-toolbar-tools">
        <p>
            <strong>ngClassifieds </strong>
        </p>

        <md-button ng-click="clfc.openSidebar()">
            <md-icon class="mdi mdi-plus-circle"></md-icon>
            New Classified
        </md-button>

        <md-button ng-click="showFilters = !showFilters">
            <md-icon class="mdi mdi-magnify"></md-icon>
            Filters
        </md-button>
    </div>
</md-toolbar>

<div class="filters" layout="row" layout-align="center top" ng-show="showFilters">
    <md-input-container>
        <label>Event search term</label>
        <input type="text" ng-model="classifiedsFilter">
    </md-input-container>

    <md-input-container>
        <label for="title">Category</label>
        <md-select ng-model="category">
            <md-option ng-repeat="category in clfc.categories" value="{{ category }}">{{ category }}</md-option>
        </md-select>
    </md-input-container>

    <md-input-container layout-align="top">
        <md-button style="margin: 0px;" class="md-warn" ng-click="classfiedsFilter = ''; category = '';">Clear</md-button>
    </md-input-container>
</div>

<ui-view></ui-view>

<md-content>
    <classified-card class="md-padding" layout="row" layout-wrap classifieds="clfc.classifieds" classifieds-filter="classifiedsFielter" category="category"></classified-card>
</md-content>